/* 
    Document   : calonbar
    Created on : Feb 3, 2012, 7:53:09 AM
    Author     : rik
    Description:
        Purpose of the stylesheet follows.
*/

/*  */

root { 
}

.aboutbox {
	background-color: #2D1155;
}

.aboutbox .base {
	background-color: transparent;
	border-left: 3px double #ffcc00;
	border-right: 3px double #ffcc00;
	border-bottom: 3px double #ffcc00;
	border-top: 3px double #ffcc00;
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 1em;
	margin-top: 1em;
}

.aboutbox .tile {
	background-color: #F8F3E2;
	border-left: ridge 2px #f8f3e2;
	border-right: groove 2px #f8f3e2;
	border-bottom: groove 2px #f8f3e2;
	border-top: ridge 2px #f8f3e2;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
}

#calonbar {
    position: fixed;
    top:0;
    right: 3.5em;
    margin-left: 2em;
    font-weight: bold;
    padding: 4px;
    font-size: 100%;
    background-color: #F8F3E2;
	border-top: ridge 2px #F8F3E2;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
    font-weight: bold;
}

#calonbar .linkbar {
	display: inline;
	text-align: right;
    float: right;
	margin-right: 2em;
    color: #2D1155;
}

.calonbarlink {
   display: inline;
}

a.calonbarlink:link, a.calonbarlink:visited {
    width: 5em;
    color: #2D1155;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}

a.calonbarlink:hover, a.calonbarlink:active {
}
